:root {
    /* Cores primárias */
    --color-background: #1C1C1C;
    --color-primary-pink: #E91E63;
    --color-primary-green: #8BC34A;
    --color-white: #FFFFFF;
    --color-light-gray: #F5F5F5;
    /* Cores secundárias */
    --color-highlight-yellow: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;   
    background: linear-gradient(180deg, #ff5c933b, #ffbbd200, #ffbbd200);
    
}

.logo {
    width: 233px;
    height: 46px;
    padding-right: 543px;
    padding-left: 230px;
    margin-top: 24px;
    margin-bottom: 24px;    
}

.attention {
    padding-right: 527px;
    margin-top: 36px;
    white-space: nowrap;
    margin-bottom: 36px;
}

.attention span {
    color: var(--color-primary-green);
}

#button-head {    
    padding-right: 230px;
}   
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    min-height: calc(100vh - 80px);
    background: url('./assets/images/background-image.png') center/cover;    

    
}

.hero-content {
    max-width: 600px;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-title .brand {
    color: var(--color-primary-pink);
    display: block;
}

.hero-title .negocios {
    color: var(--color-primary-green);
    display: block;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
    transition: all 0.3s ease;
    font-family: Questrial, sans-serif;
}

.button-primary {
    background-color: var(--color-primary-pink);
    color: var(--color-white);
    white-space: nowrap;
}

.button-primary:hover {
    background-color: var(--color-primary-green);
}

.button-secondary {
    background-color: var(--color-white);
    color: var(--color-primary-green);
}

.button-secondary:hover {
    background-color: var(--color-light-gray);
}

.button-icon {
    width: 24px;
    height: 24px;
}


.why-attend {
    padding: 100px 20px;
    background-color: #fff;
}

.why-attend-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.why-attend-content {
    flex: 1;
}

.title h2 {
    font-family: 'Oswald', sans-serif;
    max-width: 600.95px;
    max-height: 94px;
    font-size: 48px;
    line-height: 47px;
    margin-bottom: 24px;
    color: var(--color-primary-pink); 

}

.brand-pink {
    color:var(--color-primary-pink);
}

.brand-green {
    color: var(--color-primary-green);
}

.text {
    font-family: 'Questrial', sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    max-width: 587.91px;
    max-height: 196px;
    margin-top: 120px;

}

.why-attend-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.why-attend-image img {
    width: 591.51px;
    height: 591.51px;
}